body{
    background-color: whitesmoke;
}

h1 {
    font-family: 'Modak', serif;
    text-align: center;
    font-size: 50px;
}

h2{
    font-family: 'Rubik', serif;
    text-align: center;
}

p{
    text-align: center;
}

.ban{
    display: flex;
    width: 100%;
}

.pic{
    width: 33%;
    text-align: center;
}

.img1{
    width: 250px;
    border-radius: 50%;
}